#button1{
height: 30px;
width: 30px;

}
#button2{
height: 30px;
width: 30px;
}
#button3{
height: 30px;
width: 30px;
}
#buttonAC{
  height: 30px;
width: 30px;
}
#button4{
height: 30px;
width: 30px;
}
#button5{
  height: 30px;
width: 30px;
}
#button6{
height: 30px;
width: 30px;
}
#button7{
  height: 30px;
width: 30px;
}
#button8{
height: 30px;
width: 30px;
}
#button9{
  height: 30px;
width: 30px;
}
#button0{
height: 30px;
width: 30px;
}
#buttonp{
  height: 30px;
width: 30px;
}
#buttonm{
height: 30px;
width: 30px;
}
#buttony{
  height: 30px;
width: 30px;
}
#buttond{
height: 30px;
width: 30px;
}
#buttonr{
  height: 30px;
width: 30px;
}
#buttonMC{
  height: 30px;
width: 30px;
}
#buttonMR{
  height: 30px;
width: 30px;
}
#buttonMM{
  height: 30px;
width: 30px;
}
#buttonMP{
  height: 30px;
width: 30px;
}
#text1{

}
.tx1{
width: 162px;

}
.kalk{
  margin-top: 300px;
  margin-left: 600px;
  width:170px;
  height: 300px;
}